# Binarios compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
/alas-tools-cli
!/cmd/alas-tools-cli/
/cmd/alas-tools-cli/alas-cli

# Archivos de prueba
*.test
*.tmp

# Archivos de cobertura
*.out

# Directorios específicos de Go
/vendor/
/go.work

# Archivos con credenciales
.env
config.json
credentials.json
secrets.yaml
*.key
*.pem

# Archivos específicos del sistema
.DS_Store
Thumbs.db

# Directorios de IDEs
.idea/
.vscode/
*.swp
*.swo

# Ignorar archivos de coordenadas generados por la aplicación
coordenadas_*.txt
coordenadas_*_clean.txt
*.html